<%=name%>
what are your favorite numbers?
<form method="post" action="numbers">
	<input type="number" name="number_1">
	<input type="number" name="number_2">
	<input type="number" name="number_3">
	<input type="submit" value="timbus">
</form>