<%=f_name%>
<h1>what is your age?<h1>
<form method="post" action="age">
	<input type="number" name="age">
	<input type="hidden" name="f_name" value="<%=f_name%>">
	<input type="submit" value="timbus">
</form>